{% extends 'base.html' %}

{% block content %}

    {#    header #}
    <div class="header">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{% url 'djangofront:company_list' %}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">Case</h1>
            <p>{{ object }}</p>
            {# image box#}
            <div class="image-box">
                {% if object.image %}
                    <img class="image" src="{{ object.image.url }}" alt="ooops">
                {% else %}
                    <img class="image" src="{{ STATIC_PREFIX }}media/images/no_image.png" alt="ooops">
                {% endif %}
            </div>
        </div>
    </div>

    <!-- tags -->
    <p class="display-6 header-text fw-bold"> Tags:</p>
    <div class="list-group">
        {% if object_tag_list %}
            {% for obj in object_tag_list %}
                <div class="btn-group">
                    <a href="{% url 'djangofront:case_update' obj.pk %}" class="list-group-item">{{ obj }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {#  comment form #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">

            <label class="form-label mt-4" for="{{ comment_form.image.auto_id }}">{{ comment_form.image.label }}</label>
            {{ comment_form.image }}

            <label class="form-label mt-4" for="{{ comment_form.title.auto_id }}">{{ comment_form.title.label }}</label>
            {{ form.title }}

            <label class="form-label mt-4" for="{{ comment_form.website.auto_id }}">{{ comment_form.website.label }}</label>
            {{ form.website }}

            <label class="form-label mt-4" for="{{ form.text.auto_id }}">{{ form.text.label }}</label>
            {{ form.text }}
            <div class="text-center mt-4">
                <input class="btn btn-primary" type="submit" value="Post">
            </div>
        </div>
    </form>

    {% include 'includes/inn_delete_modal.html' %}

{% endblock %}