{% extends 'base.html' %}

{% block content %}

    {#    header #}
    <div class="header">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{{ previous_page_url }}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">My Companies:</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    {#    user_companies #}
    <div class="companies">
        {% include 'companies/includes/user_companies.html' %}
    </div>

    <!-- Add new object button -->
    <p class="display-6 mt-5 text-center"></p>
    <div class="d-grid">
        <a class="btn btn_add" href="{% url 'djangofront:company_create' %}" id="add"></a>
    </div>




{% endblock %}
