{% extends 'base.html' %}

{% block content %}

    {#    header #}
    <div class="header">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{{ previous_page_url }}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">Company</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    {# image box#}
    <div class="image-box">
        {% if object.image %}
            <img class="image" src="{{ object.image.url }}" alt="ooops">
        {% else %}
            <img class="image" src="{{ STATIC_PREFIX }}media/images/no_image.png" alt="ooops">
        {% endif %}
    </div>

    {#  form #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">

            <label class="form-label mt-4" for="{{ form.image.auto_id }}">{{ form.image.label }}</label>
            {{ form.image }}

            <label class="form-label mt-4" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
            {{ form.title }}

            <label class="form-label mt-4" for="{{ form.website.auto_id }}">{{ form.website.label }}</label>
            {{ form.website }}

            <label class="form-label mt-4" for="{{ form.text.auto_id }}">{{ form.text.label }}</label>
            {{ form.text }}
            <div class="text-center mt-4">
                <input class="btn btn-primary" type="submit" value="Ok">
            </div>
        </div>
    </form>

    <!-- cases -->
    <p class="display-6 header-text fw-bold"> Cases:</p>
    <div class="list-group text-center">
        {% if sub_object_list %}
            {% for obj in sub_object_list %}
                <div class="btn-group">
                    <a href="{% url 'djangofront:case_update' obj.pk %}"
                       class="list-group-item list-group-item-action">{{ obj }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No cases yet</p>
        {% endif %}
    </div>

    {% if object %}
    <p class="display-6 header-text fw-bold"> Add Case:</p>
        <!-- add case -->
        <div class="d-grid">
            <a class="btn btn_add" href="{% url 'djangofront:case_create' %}" id="add"></a>
        </div>
    {% endif %}

{% endblock %}