{% extends 'base.html' %}

{% block content %}

    <p class="display-6 text-center">Check in companies:</p>

    <!-- Search -->
    <form class="d-flex nav-item my-lg-0 mb-4" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" name="search_key">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Add new object button -->
    <p class="display-6 mt-5 text-center">Or add if you havnt found:</p>
    <div class="d-grid">
        <a class="btn btn_add" href="{% url 'djangofront:company_create' %}" id="add"></a>
    </div>



    <!-- companies -->
    <p class="display-6 text-center">Companies:</p>
    <div class="companies">
    </div>

{% endblock %}
