{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        {% if user.is_authenticated %}
            <p class="display-6 text-center">Check in companies and cases:</p>

            <!-- search companies and cases -->
            <form class="d-flex nav-item my-lg-0 mb-4" method="GET">
                <input id="search_elems" class="form-control me-2" type="search" placeholder="Search" name="search_key">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="search_elems">
                <div class="search_companies">
                    {% include 'companies/includes/search_companies.html' %}
                </div>
                <div class="search_cases">
                    {% include 'companies/includes/search_cases.html' %}
                </div>
            </div>

        {% else %}
            <p>Please SignUp or Login to continue</p>
        {% endif %}
    </div>

{% endblock %}


