{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        {% if user.is_authenticated %}
            <p>hi, {{ user.username }}!</p>
            <div class="text-center">
                <h1 class="display-5fw-bold">Check your potential employer</h1>
            </div>
            <a href="{% url 'djangofront:company_list' %}"><button type="button" class="btn btn-primary">Here</button></a>
        {% else %}
            <p>Please SignUp or Login to continue</p>
            <div class="text-center">
                <h1 class="display-5fw-bold">And you will be able to check your potential employer</h1>
            </div>
        {% endif %}
    </div>




{% endblock %}

