{% extends 'base.html' %}

{% block content %}

        {#    header #}
    <div class="header">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{{ previous_page_url }}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">Change password:</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    <div class="center-block">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <label class="form-label mt-4" for="{{ form.old_password.auto_id }}">{{ form.old_password.label }}</label>
                    {{ form.old_password }}
                    <label class="form-label mt-4" for="{{ form.new_password1.auto_id }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                    <label class="form-label mt-4" for="{{ form.new_password2.auto_id }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}

                    <div class="text-center form-group mt-4">
                        <input class="btn btn-primary btn-block" type="submit" value="Ok">
                    </div>
                </form>
            </div>
    </div>
{% endblock %}
