{% extends 'base.html' %}

{% block content %}

            {#    header #}
    <div class="header">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{{ previous_page_url }}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">Profile:</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    <div class="center-block">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <label class="form-label mt-4" for="{{ fileld.auto_id }}">{{ field.label }}</label>
                        <div class="form-group mb-2">{{ field }}</div>
                    {% endfor %}

                    <div class="text-center form-group mt-4">
                        <input class="btn btn-primary btn-block" type="submit" value="Ok">
                    </div>

                    <div class="text-center form-group mt-4">
                        <a class="btn btn-primary" href="{% url 'djangofront:password_change' %}">Change password</a>
                    </div>
                    <div class="text-center form-group mt-4">
                        <a class="btn btn-primary" href="{% url 'djangofront:user_company_list' %}">My companies</a>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
            </div>
    </div>
{% endblock %}
